In [39]:
# Dependencies & Setup
import pandas as pd
import numpy as mp
import datetime as dt

In [40]:
# Files to load
jan2020 = "Monthly_Data_2020/JC-202001-citibike-tripdata.csv"
feb2020 = "Monthly_Data_2020/JC-202002-citibike-tripdata.csv"
mar2020 = "Monthly_Data_2020/JC-202003-citibike-tripdata.csv"
apr2020 = "Monthly_Data_2020/JC-202004-citibike-tripdata.csv"
may2020 = "Monthly_Data_2020/JC-202005-citibike-tripdata.csv"
jun2020 = "Monthly_Data_2020/JC-202006-citibike-tripdata.csv"
jul2020 = "Monthly_Data_2020/JC-202007-citibike-tripdata.csv"
aug2020 = "Monthly_Data_2020/JC-202008-citibike-tripdata.csv"
sep2020 = "Monthly_Data_2020/JC-202009-citibike-tripdata.csv"
oct2020 = "Monthly_Data_2020/JC-202010-citibike-tripdata.csv"
nov2020 = "Monthly_Data_2020/JC-202011-citibike-tripdata.csv"
dec2020 = "Monthly_Data_2020/JC-202012-citibike-tripdata.csv"

# Read 2020 Citi Bike Data Files & Store into Pandas DataFrame
jan2020_df = pd.read_csv(jan2020, encoding="ISO-8859-1")
feb2020_df = pd.read_csv(feb2020, encoding="ISO-8859-1")
mar2020_df = pd.read_csv(mar2020, encoding="ISO-8859-1")
apr2020_df = pd.read_csv(apr2020, encoding="ISO-8859-1")
may2020_df = pd.read_csv(may2020, encoding="ISO-8859-1")
jun2020_df = pd.read_csv(jun2020, encoding="ISO-8859-1")
jul2020_df = pd.read_csv(jul2020, encoding="ISO-8859-1")
aug2020_df = pd.read_csv(aug2020, encoding="ISO-8859-1")
sep2020_df = pd.read_csv(sep2020, encoding="ISO-8859-1")
oct2020_df = pd.read_csv(oct2020, encoding="ISO-8859-1")
nov2020_df = pd.read_csv(nov2020, encoding="ISO-8859-1")
dec2020_df = pd.read_csv(dec2020, encoding="ISO-8859-1")

In [41]:
# Combine All 12 2020 dataframes Into Single DataFrame
combined_2020_df = jan2020_df.append([feb2020_df, mar2020_df, apr2020_df, may2020_df, jun2020_df, jul2020_df, aug2020_df, sep2020_df, oct2020_df, nov2020_df, dec2020_df], ignore_index=True)
combined_2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [42]:
# Rename Columns
combined_2020_df = combined_2020_df.rename(columns={"tripduration": "Trip Duration",
                                            "starttime": "Start Time",
                                            "stoptime": "Stop Time",
                                            "start station id": "Start Station ID",
                                            "start station name": "Start Station Name",
                                            "start station latitude": "Start Station Latitude",
                                            "start station longitude": "Start Station Longitude",
                                            "end station id": "End Station ID",
                                            "end station name": "End Station Name",
                                            "end station latitude": "End Station Latitude",
                                            "end station longitude": "End Station Longitude",
                                            "bikeid": "Bike ID",
                                            "usertype": "User Type",
                                            "birth year": "Birth Year",
                                            "gender": "Gender"
                                           })
combined_2020_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [43]:
# Convert All DateTimes to "%Y-%m-%d %H:%M:%S" Format
combined_2020_df["Start Time"] = pd.to_datetime(combined_2020_df["Start Time"])
combined_2020_df["Stop Time"] = pd.to_datetime(combined_2020_df["Stop Time"])
combined_2020_df.Gender.replace([0, 1, 2], ['Unknown','Male', 'Female'], inplace=True)
combined_2020_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,Female
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,Female
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,Male
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,Unknown
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,Female

In [44]:
# Save Combined DataFrames to CSV
combined_2020_df.to_csv("Citi_Bike_Data_2020/year-2020-citibike-tripdata.csv", index=False, header=True)

In [45]:
# Sort and display the top five performing schools by % overall passing.
sorted_combined_2020_df = combined_2020_df.sort_values("Start Time", ascending=True)
sorted_combined_2020_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,Female
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,Female
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,Male
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,Unknown
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,Female

In [46]:
sorted_combined_2020_df.to_csv("Citi_Bike_Data_2020/sorted-year-2020-citibike-tripdata.csv", index=False, header=True)

In [47]:
# Don't run below this

In [48]:
# Files to load
july2018 = "Resources/201807-citibike-tripdata.csv"
july2019 = "Resources/201907-citibike-tripdata.csv"
july2020 = "Resources/202007-citibike-tripdata.csv"

# Read July 2016, 2017 & 2018 Citi Bike Data Files & Store into Pandas DataFrame
july2018_df = pd.read_csv(july2018, encoding="ISO-8859-1")
july2019_df = pd.read_csv(july2019, encoding="ISO-8859-1")
july2020_df = pd.read_csv(july2020, encoding="ISO-8859-1")

In [49]:
# Combine All Three July DataFrames from 2016-2018 Into Single DataFrame
combined_july_df = july2018_df.append([july2019_df, july2020_df], ignore_index=True)
combined_july_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,1
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72.0,W 52 St & 11 Ave,40.767272,-73.993929,529.0,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,1
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72.0,W 52 St & 11 Ave,40.767272,-73.993929,453.0,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,2
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,1
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3425.0,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,1

In [50]:
# Rename Columns
combined_july_df = combined_july_df.rename(columns={"tripduration": "Trip Duration",
                                            "starttime": "Start Time",
                                            "stoptime": "Stop Time",
                                            "start station id": "Start Station ID",
                                            "start station name": "Start Station Name",
                                            "start station latitude": "Start Station Latitude",
                                            "start station longitude": "Start Station Longitude",
                                            "end station id": "End Station ID",
                                            "end station name": "End Station Name",
                                            "end station latitude": "End Station Latitude",
                                            "end station longitude": "End Station Longitude",
                                            "bikeid": "Bike ID",
                                            "usertype": "User Type",
                                            "birth year": "Birth Year",
                                            "gender": "Gender"
                                           })
combined_july_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,1
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72.0,W 52 St & 11 Ave,40.767272,-73.993929,529.0,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,1
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72.0,W 52 St & 11 Ave,40.767272,-73.993929,453.0,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,2
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,1
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3425.0,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,1

In [51]:
# Convert All DateTimes to "%Y-%m-%d %H:%M:%S" Format
combined_july_df["Start Time"] = pd.to_datetime(combined_july_df["Start Time"])
combined_july_df["Stop Time"] = pd.to_datetime(combined_july_df["Stop Time"])
combined_july_df.Gender.replace([0, 1, 2], ['Unknown','Male', 'Female'], inplace=True)
combined_july_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,500,2018-07-01 00:33:51.264,2018-07-01 00:42:12.028,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,Male
1,455,2018-07-01 02:06:54.027,2018-07-01 02:14:29.090,72.0,W 52 St & 11 Ave,40.767272,-73.993929,529.0,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,Male
2,1080,2018-07-01 02:09:16.464,2018-07-01 02:27:17.029,72.0,W 52 St & 11 Ave,40.767272,-73.993929,453.0,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,Female
3,632,2018-07-01 02:55:04.587,2018-07-01 03:05:36.791,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,Male
4,1676,2018-07-01 03:24:27.435,2018-07-01 03:52:23.776,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3425.0,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,Male

In [52]:
combined_july_df.dtypes

Trip Duration                       int64
Start Time                 datetime64[ns]
Stop Time                  datetime64[ns]
Start Station ID                  float64
Start Station Name                 object
Start Station Latitude            float64
Start Station Longitude           float64
End Station ID                    float64
End Station Name                   object
End Station Latitude              float64
End Station Longitude             float64
Bike ID                             int64
User Type                          object
Birth Year                          int64
Gender                             object
dtype: object

In [53]:
# Save Combined DataFrames to CSV
combined_july_df.to_csv("Resources/three-year-july-citibike-tripdata.csv", index=False, header=True)